.footer {
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
  color: white;
  padding: 60px 80px;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  padding: 0;
  margin: 0;
}

.footer__logo {
  height: 39px;
  width: 105px;
}


.footer__social-heading {
  margin-top: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
  max-height: 16px;
  max-width: 16px;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  transition: opacity 1s;
}

.footer__social-link:hover {
  opacity: 70%;
}

.footer__copyright {
  margin: 108px 0 0 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}