.page {
  display: flex;
  flex-direction: column;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
  box-sizing: border-box;
  padding: 30px 80px 40px;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  top: 183px;
  left: 80px;
  max-width: 729px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  top: 28px;
  left: 80px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 568px;
  max-height: 646px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__link {
  text-decoration: none;
}

.header__address {
  position: absolute;
  bottom: 40px;
  right: 80px;

}

.span-accent {
  display: block;
  padding-bottom: 10px;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3F96F3;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  max-width: 105px;
  padding-top: 30px;
  padding-left: 30px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
 font-family: "Inter";
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 20px;
 color:black;
}

.recipes {
  background-color: #0a2750 ;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  color: #ffffff;
  line-height: 52px;
  max-width: 580px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  max-width: 438px;
  margin: 0 0 80px;
}

.recipes__videos {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  column-gap: 40px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.recipes__video-caption  {
  display: flex;
  justify-content: center;
  gap: 100px;
  top: 24px;
  margin: 0;
}

.recipes__iframe {
  border: none;
  justify-content: center;
}

.recipes__video-container {
  width: 480px;
  height: 273px;
}